html { 
  background-color: black;
  }
  
@font-face {
    font-family: headingFont;
    src: url(jennyvaittinen.github.io/Media/CormorantGaramond-BoldItalic.ttf);
}

@font-face {
    font-family: textFont;
    src: url(jennyvaittinen.github.io/Media/FiraSans-Regular.ttf);
}

h1 {
    Font-Family: headingFont;
    Font-Size: 4vw;
    color:blanchedalmond;
}

.header {
    position: relative;
    display: flex;
    top: 0;
    justify-content: stretch;
}
#header {
    width: 85%;
    left: 0;
    margin: 0;
}

#navi {
    padding-top: 30px;
    font-size: 1.5vw;
    list-style-type: none;
    margin: 0;
    padding-right:0;
    color:cornsilk;
    width: 25vw;
}

a {
    font-family: textFont;
    color:cornsilk;
}

li {
    display: inline;
  }

  li a {
    display: inline;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    color:cornsilk;
  }

  a:visited {
      color:darkmagenta;
  }

  #about {
      font-family: textFont;
      color:honeydew;
      position: absolute;
      width:60%;
      padding: 4px;
      text-align:center;
      margin: auto;
      font-size:3rem;
      top: 35%;
      left: 20%;
  }

  h3 {
    font-family: headingFont;
    font-size: 3rem;
    color:blanchedalmond;
    position:absolute;
    bottom: 20%;
    text-align: center;
    width:80%;
    left:10%;
}

.links {
    font-family: textFont;
    font-size: 2rem;
    color:cornsilk;
    position:absolute;
    bottom: 15%;
    text-align: center;
    width:80%;
    left:7.5%;
}

footer {
    position: absolute;
    bottom:5%;
    left:2%;
}

  @media only screen and (max-width: 414px) {
    #about {
        position: absolute;
        margin:0;
        left:10%;

    }
    .navi{
        position:absolute;
        left:20%;
        top:7rem;
        width:fit-content;
        top:15rem;
    }

    h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 1158 px) {

    .navi{
        position:absolute;
        top:7rem;
        margin:auto;
        padding-right: 20px;
    }
}