* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
    height: auto;
    width: 100%;
    margin-top: 3.5vw;
    background-image: linear-gradient(hsl(288, 96%, 29%), hsl(263, 78%, 36%), hsl(239, 67%, 38%));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-image: linear-gradient(hsl(280, 84%, 11%), hsl(288, 96%, 29%));
    border-bottom: 1px solid hsl(280, 84%, 21%);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 99;
    height: 4rem;
  }


  h1 {
    font-family: 'Cormorant Garamond', serif;
      Font-Size: 3rem;
      color:blanchedalmond;
      font-weight: 700;
      top: 0;
      padding-left: 2rem;
  }

/*nav begin*/
  .nav {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 10px;
    width: fit-content;
    height: 4vw;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2vw;
  }
  
li {
  list-style: none;
  display: inline;
 }

 a {
   text-decoration: none;
   text-align: center;
   padding: 20px 0px;
   color:cornsilk;
   font-family: 'Cormorant Garamond', serif;
 }

 a:visited {
     color: #E0AAFF;
 }
  
  .nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 0.6vw;
    border-radius: 4px;
  }
  
  .nav-list a:hover {
    background: #7129b1;
  }

/*nav end*/

.welcome-section {
    display: flex;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  align-content: center;
  margin: auto;
}


.welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: antiquewhite;
    padding-bottom: 6.5vw;

  }

  #about-me {
    font-style:normal;
    padding-top: 0;
  }


h2 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    font-family: 'Cormorant Garamond', serif;
    color: blanchedalmond;
    text-align:center;
  }

  #profilePic {
    width:100%;
    height: auto;
    border-radius: 50%;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 10rem;
    padding-bottom: 7rem;
    margin-top: 2rem;
    font-weight: 300;;
    font-family: 'Cormorant Garamond', serif;
    color: blanchedalmond;
    text-align: center;
  }

  figure {
    width: 27%;
    height:auto;
    display:block;
    margin: 0 auto;
  }

  /* Projects section */

.projects-section {
    text-align: center;
    width: auto;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 2rem auto;
    padding-top: 16vh;
    font-size: 3rem;
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4vw;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5vw;
  }
  
  .project {
    background: hsl(248, 77%, 35%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display:block;
  }
  
  .code {
    color: hsl(248, 71%, 37%);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding-top: 2vw;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 4px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: hsl(248, 77%, 35%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease-out;
    margin: 1vw 3vw 8vw 3vw;
    font-family: 'Fira Sans', sans-serif;

  }
  
  .btn-show-all:hover {
    background: royalblue;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
/*end project section*/
/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 80vh;
    padding: 0 2rem;
  }
  
  .contact-section-header > h2 {
    font-size: 3vw;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    background-image: linear-gradient(hsl(226, 88%, 38%), hsl(226, 88%, 18%));
    border-top: 4px solid hsl(226, 88%, 18%);
  }

  #logo {
    border-radius: 50%;
    width: 20%;
    height: auto;

  }
  
  footer > p {
    margin: 2rem;
    color: antiquewhite;
    font-family: 'Fira Sans', sans-serif;
    font-size: smaller;
    text-align: center;
  }
  
  footer i {
    vertical-align: middle;
  }

  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }

  @media (max-width:770px) {

    header {
      height: 6rem;
    }
    
    main {
      margin: 4vw;
    }

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3.5rem;
      margin-top: 7rem;
      margin-bottom: 4rem;
    }

    figure {
      width: 70%;
    }

    .welcome-section > p {
      font-size: 2rem;
    }

    .nav {
      height: 5vw;
    }

  .nav-list a {
    display: block;
    font-size: 2.5rem;
    padding: 1vw;
    border-radius: 4px;
  }

  #about-me {
    padding-top: 5rem;
    padding-bottom: 10vh;
  }

  .contact-section-header > h2 {
    font-size: 3rem;
  }
}

  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  

   /* 460px / 16px = 28.75em */
   @media (max-width: 28.75em) {
   
    html {
      font-size: 55%;
    }

    h1 {
      display: none;
    }

    .nav {
      justify-content: center;
      height: 12vw;
    }
  
    .nav-list {
      margin: auto;
    }

    header {
      justify-content: flex-end;
    }


    main {
      margin-top: 7rem;
    }

    .nav-list a {
      padding: 0.5rem;
      font-size: 2rem;
    }

    h3 {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }

    .welcome-section > p {
      font-size: 2rem;
      font-weight: 200;
      font-family: 'Fira Sans', sans-serif;
      text-align: center;
      color: antiquewhite;
      padding-bottom: 6.5rem;
    }

    .projects-section-header {
      font-size: 4rem;
    }

    .contact-section {
      padding-left: 0;
      padding-right: 0;
      width: auto;
      background-size: auto;
      position: relative;
    }

    .contact-section-header > h2 {
      font-size: 4rem;
      height:fit-content;
      margin: 0;
    }

    .contact-links {
      margin-top: 1rem;
    }

    footer {
      flex-direction: column;
      text-align: center;
    }
  }
