body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
  }
  
#welcome-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    width: 50%;
    text-align: center;
}

.skull {
    padding:0;
    margin:0;
}
@font-face {
    font-family: headingFont;
    src: url(jennyvaittinen.github.io/Media/CormorantGaramond-BoldItalic.ttf);
}

@font-face {
    font-family: textFont;
    src: url(jennyvaittinen.github.io/Media/FiraSans-Regular.ttf);
}

h1 {
    Font-Family: headingFont;
    Font-Size: 4vw;
    color:blanchedalmond;
    padding-left: 1vw;
    margin-top:1vw;
    flex-direction: column;
}

#navbar {
    font-size: 1.5vw;
    font-family:textFont;
    float: right;
    display: flex;
    color:cornsilk;
    margin-left: 15vw;
    padding-left: 15vw;
}

li {

  }

  a {
    display: block;
    text-align: center;
    padding: 30px 0px;
    color:cornsilk;
  }

  a:visited {
      color: darkmagenta;
  }

  #footer {
      display: block;
      
  }

  @media only screen and (max-width: 376px) {
 
    #navi{
        
    }

    h1 {
       
        font-size: 1rem;
        
    }

}

