html { 
    background: url("Media/contact.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
@font-face {
    font-family: headingFont;
    src: url(jennyvaittinen.github.io/Media/CormorantGaramond-BoldItalic.ttf);
}

@font-face {
    font-family: textFont;
    src: url(jennyvaittinen.github.io/Media/FiraSans-Regular.ttf);
}

h1 {
    Font-Family: headingFont;
    Font-Size: 7vw;
    color:darkslateblue;
    margin-top: 1vw;
    padding-left:1vw;
    width:600px;
}

#header {
    width: auto;
    position: absolute;
}

ul {
    list-style-type: none;
    color:darkblue;
    width:fit-content;
    position:absolute;
    padding-top:4%;
    right:2%;
    font-size:1.5vw;
}

li {
    display:inline;
  }

  a:visited {
      color:darkmagenta;
  }

  #email {
      color:black;
      font-size: 1.5vw;
      font-weight: bolder;
      position:absolute;
      margin:auto;
      left: 37vw;
      top: 15vw;


}

  .LI-profile-badge {
      position:absolute;
      left:47vw;
      top:25vw;

  }
  