html { 
    background-color: black;
  }
  
@font-face {
    font-family: headingFont;
    src: url(jennyvaittinen.github.io/Media/CormorantGaramond-BoldItalic.ttf);
}

@font-face {
    font-family: textFont;
    src: url(jennyvaittinen.github.io/Media/FiraSans-Regular.ttf);
}

.top {
    display: inline-flex;
    height: 200px;
    text-align: left;
}
h1 {
    Font-Family: headingFont;
    Font-Size: 4vw;
    color:blanchedalmond;
    margin-top: 1vw;
    padding-left:1vw;
    width:max-content;
    flex-direction: row;
    text-align: left;
}

#navi {
    padding-top: 30px;
    font-size: 1.5vw;
    list-style-type: none;
    margin-left: 30vw;
    padding-right:0;
    padding-left: 30vw;
    color:cornsilk;
    width: 25vw;
    float: right;
}

li {
    display: inline;
}

  a:visited {
      color:darkmagenta;
  }

  .contact {
    display: flex-wrap;
    height: 200px;
}

  #email {
      color:blanchedalmond;
      font-size: 1.5vw;
      font-weight: bolder;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: center;
      
}

  .LI-profile-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
      padding-top: 2vw;
  }



  @media only screen and (max-width: 750px) {
     
    h1 {

    }
    
    .LI-profile-badge {
        
      }
      #email {
          
      }
      .navi{
    
          padding-right:10px;
      }
  }

  @media only screen and (max-width: 454 px) {
    .LI-profile-badge {
        top:50%;
        left:37%;
      }
      #email {
          left:30%;
          top:40%;
      }
      .navi{
          position:absolute;
          top:7rem;
          margin:auto;
          padding-right: 20px;
      }
  }